<div class="container">
  <div class="row" style="width: 450px">
    <div class="col-12">
      <div
        class="profile wow fadeInUp"
        data-wow-delay="0.3s"
        style="
          visibility: visible;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <div class="thumb">
          <img
            src='https://api.dicebear.com/9.x/bottts/svg?seed={{username}}'
            alt=""
          />
        </div>
        <div class="detailsInfo">
          <h6> {{username}} </h6>
          <p class="designation"> {{role}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
