<aside *ngIf="visible" class="sideMenu">
    <div class="logoChallenge">
      <img src="/assets/images/aside/logo.svg" alt="" />
    </div>
    <div class="icons">
      <a href=""><img src="/assets/images/aside/dashboard.svg" alt="" /></a>
      <a href=""><img src="/assets/images/aside/monitoreo.svg" alt="" /></a>
      <a href=""><img src="/assets/images/aside/historico.svg" alt="" /></a>
      <a href=""
        ><img src="/assets/images/aside/historicoPlantas.svg" alt=""
      /></a>
      <a href=""><img src="/assets/images/aside/cerrarSesion.svg" (click)="logOff()"/></a>
    </div>
  </aside>